.crocs{
    background-color:aliceblue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    height: 600px;
}

.zapatillas{
    width: 300px;
}